<div class="dash-head">
    
</div>

<!-- card -->

<div class="cards">

    <!-- card 1 -->
    <mat-card>
        <app-card class="text-white" bg="yellow" icon="person" description="Welcome" count=2500></app-card>
    </mat-card>
    <!--card 2  -->
    <mat-card>
        <app-card class="text-white" bg="red" icon="schedule" description="Average-time" count=123.50></app-card>
    </mat-card>
    <!-- card 3 -->
    <mat-card>
        <app-card class="text-white" bg="green" icon="cloud_download" description="Collections" count=1805></app-card>
    </mat-card>
    <!-- card 4 -->
    <mat-card>
        <app-card class="text-white" bg="blue" icon="comment" description="Comments" count=54></app-card>
    </mat-card>

</div>
<!-- area chart -->
<div class="area">
    <app-areachart>

    </app-areachart>



</div>


<div class="progresscharts">
    <div>
        <app-progress></app-progress>
    </div>
    <div>
        <app-progresschart></app-progresschart>
    </div>
</div>
<!-- table & pie chart -->
<div class="tablepie">
    <!-- table -->
    <div>
        <app-table></app-table>
    </div>

    <!-- pie chart -->
    <div>
        <app-pie></app-pie>
    </div>
</div>